version: "3.9"

services:
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"

  app:
    build: .
    environment:
      - APP_REDIS_ADDR=redis:6379
    depends_on:
      - redis
    deploy:
      mode: replicated
      replicas: 3
    ports:
      - "8080-8082:8080-8082"

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "8000:8000"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
